.calculator {
    height: 20rem;
    width: 20rem;
    margin: auto;
    display: grid;
    grid-template-rows: 25% repeat(5, 15%);
}
.display {
    background-color: blueviolet;
    color: #fff;
    padding: 1.3rem;
    font-size: 2rem;
    grid-column: 1/ -1;
}
.frow,
.srow,
.trow,
.frrow,
.fiverow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#equal {
    grid-column: 3 /-1;
}
